*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height:100vh;
}
.contact{
    position: relative;
    min-height: 50vh;
    padding: 20px 100px 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content{
    max-width: 800px;
    text-align: center;

}
.contact .content h2{
    font-size: 36px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
    
}
.contact .content p
{

    font-weight: 400;
    margin-top: -20px;
    
}
.Container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.Container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
   
   
}
.Container .contactInfo .box
{
    width: 300px;
    position: relative;
    padding: 20px 0;
    display: flex;
    
}
.Container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #ae0035;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color:white;
}
.Container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}
.Container .contactInfo .box .text h3
{
    font-weight: 500;
    color: #ae0035;
}
.contactForm
{
    width: 40%;
    padding: 40px ;
    background: #ae0035;
    border-radius: 15px;
    
    
}
 #btncontainer
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
   
   
}
.contactForm h2
{
    font-size: 30px;
    font-weight: 500;
    color: white;
    text-align-last: center;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
    text-align-last: center;
}





.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 90%;
    height: 40px;
    padding: 5px ;
    margin: 10px 0;
    outline: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
   font-size: 20px;
    border: 0.5px solid rgb(150, 150, 150);
    
}
.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 5px;
    font-size: 16px;
    margin: 10px 0;
    margin-left: 45px;
    pointer-events: none;
    transition: 0.5s;
    color: grey;
    

}
.contactForm .inputBox  input:focus ~ span,
.contactForm .inputBox  input:valid ~ span,
.contactForm .inputBox  textarea:focus ~ span,
.contactForm .inputBox  textarea:valid ~ span

{
    color:white;
    font-size: 12px;
    transform: translateY(-25px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background:white;
    color:#ae0035;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991px)
{
    .contact{
        padding: 50px;
    }
    .Container
    {
        flex-direction: column;
    }
    .Container .contactInfo
    {
        margin-bottom: 40px;
    }
    .Container .contactInfo,
    .contactForm
    {
        width: 100%;
    }
}