/* body style */
body{
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: 'Cairo', sans-serif;
}
/* --------------------------------- Start Header -------------------------------*/

/* header style */

#headerDivID{
  display: grid;
  grid-template-columns: 350px 0.8fr 550px 120px 120px 150px 150px;
  grid-gap: 5px;
  grid-auto-rows: 100px;
  align-content: center;
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.082), 0 6px 20px 0 rgba(0, 0, 0, 0.007);
}

/* logo style */
#logoImageID{
  width: 180px;
  height: 60px;
  margin-left: 20px;
  margin-top: 20px;
  box-sizing: border-box;   
}

/* search div style */
#searchDivID{
position: relative;
top: 27%;
}

/* search input style */
#searchInputID{
width: 90%;
height: 50px;
color: rgb(0, 0, 0);
box-sizing: border-box;
border-radius: 10px;
padding-left: 10px;
font-size: 20px;
border: 0.5px solid rgb(150, 150, 150);

}

/* search button style */
#searchButtonID{
position: absolute;
width: 100px;
height: 50px;
margin-left: 5px;
color: rgb(255, 255, 255);
box-sizing: border-box;
border-radius: 15px;
font-size: 15px;
font-weight: 500;
background-color: #ae0035;
border: 1px solid rgb(150, 150, 150);

}


/* welcome message style */
#welcomeMsgID{
position: relative;
width: 95%;
height: 50px;
box-sizing: border-box;
font-size: 25px;
margin-right: 100px;
margin-left: 100px;
font-weight: bold;
}

#welcomeMsgDivID{
position: relative;
margin-top: 5%;
box-sizing: border-box;
}


/* Signin button style */
#SigninID{
  position: relative;
  width: 120px;
  height: 50px;
  top: 25%;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 500;
  background-color: #ae0035;
  border: 1px solid rgb(150, 150, 150);
}
/* Signup button style */
#SignupID{
  position: relative;
  width: 120px;
  height: 50px;
  top: 25%;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 500;
  background-color: #ae0035;
  border: 1px solid rgb(150, 150, 150);
  
}

#logOutID{
  position: relative;
  width: 120px;
  height: 50px;
  top: 25%;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 500;
  background-color: #ae0035;
  border: 1px solid rgb(150, 150, 150);
  display: none;
  text-decoration: none;
  
}

/* cart button style */
#cartID{
  width: 80px;
  height: 40px;
  margin-top: 30px;
  margin-left: 30px;
}

.cart_Number{
  position: relative ;
  box-sizing: border-box;
  text-decoration: none;
  
  color: #ae0035;
  font-weight: 300px;
  font-size: 20px;
  float: right;
  margin-top: 32px;
  padding: 0%;
  
  
}






/* --------------------------------- finsh header ------------------------------- */

/* --------------------------------- Start Nav bar -------------------------------*/
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ae0035;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/* --------------------------------- End Nav bar -------------------------------*/